<header>
    <h1>Ceneo Web Scraper</h1>
</header>
{% extends "base.html" %}
{% block content %}
<div class="content">
    <section class="app-section">
        <div class="container info-scraper">
            <div class="app-info">
                <h2>Hi! My name is Jakub Dziektarz</h2>
                <p>I made this tool as a part of the podstawy programowania 2 course</p>
                <p>It all wouldn't be possible without the help of our great teacher Ms. Wójcik</p>
            </div>
            <div class="app-image">
                <img src="screenshot.png" alt="Ms. Wójcik">
            </div>
        </div>
    </section>
    <section class="app-section">
        <div class="container info-scraper">
            <div class="app-info">
                <h2>My mentor</h2>
                <p>I'd like to dedicate this section to the greatest of all humans</p>
                <p>It of course is my mentor, that doesn't need any introductions</p>
                <h4>Robert Makłowicz<h4>
            </div>
            <div class="app-image">
                <img src="https://api.culture.pl/sites/default/files/styles/1920_auto/public/2021-06/robert-maklowicz-forum-0430056931-s.jpg?itok=TkmxiiNL"
                 alt="Ms. Wójcik">
            </div>
        </div>
    </section>
</div>
{% endblock content %}