<header>
    <h1>Ceneo Web Scraper</h1>
</header>
{% extends "base.html" %}
{% block content %}
<div class="content">
    <section class="app-section">
        <div class="container info-scraper">
            <div class="app-info">
                <h2>Hi! My name is Jakub Dziektarz</h2>
                <p>I made this tool as a part of the podstawy programowania 2 course</p>
                <p>It al wouldn't be possible without the help of our great teacher Ms. Wójcik</p>
            </div>
            <div class="app-image">
                <img src="screenshot.png" alt="Ms. Wójcik">
            </div>
        </div>
    </section>
    <section class="app-section">
        <div class="container info-scraper">
            <div class="app-info">
                <h2>My mentor</h2>
                <p>I'd like to dedicate this section to the greatest of all humans</p>
                <p>It of course is my mentor, that doesn't need any introductions</p>
                <h4>Robert Makłowicz<h4>
            </div>
            <div class="app-image">
                <img src="https://cdn.discordapp.com/attachments/636983667243352078/1242101283800875018/441169980_791413263088531_2987908077132223700_n.jpg?ex=664c9c77&is=664b4af7&hm=f42f89e8a0d08bcf2d71865aa0b21c6c8385ae59dd3d00900df1dee7e0eca0ea&"
                 alt="Ms. Wójcik">
            </div>
        </div>
    </section>
</div>
{% endblock content %}