 
<header>
    <h1>Ceneo Web Scraper</h1>
</header>
{% extends "base.html" %}
{% block content %}   

<!-- New Section -->
<section class="app-section">
    <div class="container info-scraper">
        <div class="app-info">
            <h2>Discover the Best Deals with Our</h2> 
            <h2>Ceneo Web Scraper</h2>
            <p>Our web scraper app helps you find the best prices and deals on Ceneo.</p>
            <p>Easily track product prices, compare offers, and save money with our intuitive and powerful scraping tool.</p>
            <button class="btn learn-more-btn" href="{{url_for('extract')}}">Learn More</button>
        </div>
        <div class="app-image">
            <img src="https://ocdn.eu/pulscms-transforms/1/r-Nk9kpTURBXy8wZWY0Zjc3NGQyYzYyMTZmNzYyYzI5YjAwNGQxYTlkMC5qcGeTlQMAMs0DIM0BwpUCzQSwAMPDkwmmNjk5OTcwBt4AAaEwAQ/szczescie-czyli-najslynniejsze-zdjecie-swiata.jpeg" alt="App Screenshot">
        </div>
    </div>
</section>
{% endblock content %}